button{
	margin-bottom:20px;
}
h1{
    padding: 0;
    width: 35;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
	font-family: 'PT Sans',Arial,'Trebuchet MS',sans-serif;
	font-size: 48px;
}
div{
    padding: 0;
    width: 35;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}
.caffeinated-container{
	width:640px;
	height:550px;
	padding:0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.highlight{
	border: 10px solid #f00 !important;
}
.cssButton_lightBrown, .cssButton_lightBrown:focus {
    background-color: #AC7D5E;
    background-image: -moz-linear-gradient(center top , #C58B64 0px, #83583B 100%);
    border-bottom-color: #C58B64;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #C58B64;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #C58B64;
    border-top-color: #C58B64;
    color: #FFeeee;
    text-shadow: 0 1px 5px #AC7D5E;
}
.cssButton_lightBrown:hover {
    background-color: #C58B64;
    background-image: -moz-linear-gradient(center top , #C58B64 0px, #AC7D5E 100%);
}
.cssButton_lightBrown:active {
    background-color: #83583B;
    background-image: -moz-linear-gradient(center top , #83583B 0px, #D4956B 100%);
}
.cssButton_roundedMed {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.cssButton_rectangle, .cssButton_roundedLow, .cssButton_roundedMed, .cssButton_roundedHigh {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.796) inset;
    cursor: pointer;
    display: inline-block;
    font-family: 'PT Sans',Arial,'Trebuchet MS',sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: auto;
    line-height: normal;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    position: relative;
    text-align: center;
    width: auto;
}
button {
    text-indent: 0;
    white-space: inherit;
}
button, input[type="reset"], input[type="button"], input[type="submit"] {
    -moz-appearance: button;
    -moz-binding: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    -moz-font-feature-settings: -moz-use-system-font;
    -moz-font-language-override: -moz-use-system-font;
    -moz-user-select: none;
    -x-system-font: -moz-button;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: buttonface;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: outset;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 2px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: buttonface;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: outset;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 2px;
    font-size-adjust: -moz-use-system-font;
    font-stretch: -moz-use-system-font;
    font-style: -moz-use-system-font;
    font-variant: -moz-use-system-font;
}
#imgHolder{
	width:700px;
	height:550px;
}